@keyframes boxanimation_show {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

#sentencebox {
    animation: boxanimation_show 0.15s;
    width: 8%;
    position: absolute;
    background-color: whitesmoke;
    display: block;
    visibility: hidden;
    font-size: 12pt;
    box-shadow: 0px 1px 16px 2px gray;
    cursor: default;
    z-index: 1;
    border-radius: 3px;
}